@font-face {
    font-family: rb-r;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: rb-b;
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face{
    font-family:ms-b ;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: ms-r;
    src: url(../fonts/Montserrat-Regular.ttf);
}
